[submodule "edsl/widgets/src"]
	path = edsl/widgets/src
	url = https://github.com/expectedparrot/edsl-widgets-src
[submodule "edsl.widgets.src"]
	url = git@github.com:expectedparrot/edsl-widgets-src.git
