__pycache__
_build/*
*_temp
*csv
*db
*db.bak
*db-shm
*db-wal
*docx
*gz
*json
*jsonl
*log
*svg
*jpeg
*png
*dta
*sav
*csv
*txt
*html
.backups
.DS_Store
.coverage
.edsl_cache
.env
.ipynb_checkpoints/
.mypy_cache
.pytest_cache
.temp
.venv
docs/_build/
dist
htmlcov
prof
test_dir
tests/temp_outputs
tests/assets
venv
probable_junk/
# exceptions
!edsl/utilities/data/*.json
!.vscode/settings.json
!tests/serialization/data/*.json
!performance.yml
.env*
docs/notebooks/drafts/*
test.py
edsl/widgets/src/
.edsl_model_archive.json