# Data files
*_temp
*csv
*db
*db-shm
*db-wal
*gz
*json
*txt
!edsl/utilities/data/*.json
!.vscode/settings.json
# Docs
docs/_build/
# Dotenv
.env
# Jupyter notebook files
.ipynb_checkpoints/
# MacOS files
.DS_Store
# Miscelannea
.backups
# MyPy files
.mypy_cache
# Packaging files
dist
# Testing files
__pycache__
.coverage
.pytest_cache
htmlcov
# Virtual environment files
.venv
venv
*log
