[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

[tool.poetry]
authors = ["Apostolos Filippas <apostolos@expectedparrot.com>", "John Horton <john@expectedparrot.com>", "Robin Horton <robin@expectedparrot.com>"]
classifiers = ["Topic :: Scientific/Engineering :: Artificial Intelligence", "Topic :: Software Development :: Libraries :: Application Frameworks", "Topic :: Software Development :: Libraries :: Python Modules"]
description = "Create and analyze LLM-based surveys"
documentation = "https://www.expectedparrot.com/getting-started/"
homepage = "https://www.expectedparrot.com/"
keywords = ["LLM", "social science", "surveys", "user research"]
license = "MIT"
name = "edsl"
readme = "README.md"
version = "0.1.17.dev2"

[tool.poetry.dependencies]
python = ">=3.9.1,<3.12"
numpy = "^1.22"
sqlalchemy = "^2.0.23"
python-dotenv = "^1.0.0"
openai = "^1.4.0"
jinja2 = "^3.1.2"
rich = "^13.7.0"
simpleeval = "^0.9.13"
jupyter = "^1.0.0"
pandas = "^2.1.4"
tenacity = "^8.2.3"
python-docx = "^1.1.0"
nest-asyncio = "^1.5.9"
aiohttp = "^3.9.1"
markdown2 = "^2.4.11"
pytest-mock = "^3.12.0"
pydot = "^2.0.0"
pytest-asyncio = "^0.23.5"
anthropic = "^0.23.1"
nbsphinx = "^0.9.3"
pygments = "^2.17.2"
matplotlib = "^3.8.4"

[tool.poetry.group.dev.dependencies]
coverage = "^7.3.3"
mypy = "^1.7.1"
nbformat = "^5.9.2"
pre-commit = "^3.6.0"
pydocstyle = "^6.3.0"
pylint = "^3.1.0"
pytest = "^7.4.3"
pytest-env = "^1.1.3"
pytest-mock = "^3.12.0"
pytest-profiling = "^1.7.0"
pytest-xdist = "^3.5.0"
sphinx = "^7.2.6"
sphinx-copybutton = "^0.5.2"
sphinx-rtd-theme = "^2.0.0"
toml = "^0.10.2"
toml-sort = "^0.23.1"

[tool.poetry.group.dev.dependencies.black]
extras = ["jupyter"]
version = "^23.12.0"

[[tool.poetry.packages]]
include = "edsl"

[tool.tomlsort]
all = true
in_place = true
spaces_before_inline_comment = 2
spaces_indent_inline_array = 4
trailing_comma_inline_array = true

[tool.tomlsort.overrides."tool.poetry.dependencies"]
table_keys = false
