{# Answering Instructions #}
Return a valid JSON formatted like this:
{% if use_code %}
    {% if include_comment %}
{"answer": <put answer code here>, "comment": "<put explanation here>"}
    {% else %}
{"answer": <put answer code here>}
    {% endif %}
{% else %}

    {% if include_comment %}
{"answer": <text of option>, "comment": "<put explanation here>"}
    {% else %}
{"answer": <put option here>}
    {% endif %}

{% endif %}
