<div class="overview-section">
    <table class="exceptions-table">
        <thead>
            <tr>
                <th>Exception Type</th>
                <th>Service</th>
                <th>Model</th>
                <th>Question Name</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for (exception_type, service, model, question_name), count in exceptions_table.items() %}
                <tr>
                    <td>{{ exception_type }}</td>
                    <td>{{ service }}</td>
                    <td>{{ model }}</td>
                    <td>{{ question_name }}</td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>