{# Answering Instructions #}
{% if use_code %}
Respond with the code corresponding to one of the options.
{% else %}
Respond with a string corresponding to one of the options.
{% endif %}

{% if other_option_text in question_options %}
If none of the options match, select "{{ other_option_text }}" and provide your own response in the format:
{{ other_option_text }}: [your specific response]
{% endif %}

{% if include_comment %}
After the answer, you can put a comment explaining why you chose that option on the next line.
{% endif %}