{# Question Presention #}
{{question_text}}
{% if enumeration == "numeric_starts_with_1" %}
    {%- for option in question_options %}
{{ loop.index }}: {{option}}
    {% endfor %}
{% elif enumeration == "letters" %}
    {%- for option in question_options %}
{{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[loop.index0] }}: {{option}}
    {% endfor %}
{% elif enumeration == "letters_lower" %}
    {%- for option in question_options %}
{{ "abcdefghijklmnopqrstuvwxyz"[loop.index0] }}: {{option}}
    {% endfor %}
{% elif use_code or enumeration == "numeric_starts_with_0" %}
    {%- for option in question_options %}
{{ loop.index0 }}: {{option}}
    {% endfor %}
{% else %}
    {% for option in question_options %}
{{option}}
    {% endfor %}
{% endif %}
Only 1 option may be selected.