{# Question Presention #}
{{question_text}}
{% if use_code %}
    {%- for option in question_options %}
{{ loop.index0 }}: {{option}}
    {% endfor %}
{% else %}
    {% for option in question_options %}
{{option}}
    {% endfor %}
{% endif %}
Only 1 option may be selected.