{{ question_text }}

Expected Response Structure ({{ pydantic_model_name }}):
{% for field_name, field_info in pydantic_schema.properties.items() %}
- {{ field_name }}: {{ field_info.type }}{% if field_info.description %} - {{ field_info.description }}{% endif %}
{% endfor %}
